In [3]:
# import all dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func
import plotly.express as px
import hvplot.pandas
from pathlib import Path
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from imblearn.metrics import classification_report_imbalanced
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from uszipcode import SearchEngine

In [5]:
# Import file
file_path = "../data.csv"
anthro_df = pd.read_csv(file_path)
anthro_df.head()

,Unnamed: 0,IID,AGE_,INCOME,ETHNIC_CODE_GROUP,AN_BIRTHDAY,POSTAL_CD,LOYALTY_YN,FIRST_ANTHRO_ORDER,LIFETIME_APPAREL_DEMAND,...,DIVISION_NAME,DEPARTMENT_NAME,CLASS_NAME,PRODUCT_ID,ITEM_NAME,MD_STATE,DEMAND_QTY,DEMAND_AMT,states,Region
0,0,010TUGIXZ95K5R,57,8,K,1970-01-01 00:00:00.000000000,85260,Y,2015-03-24 00:00:00.000000000,5059.97,...,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S BOTTOMS (NA),PANTS (NA),54766134,ASYMMETRICAL PULL ON PANT,REG PRICE,1,52.46,AZ,West
1,1,0109BPMLXNREXT,50,7,J,1970-01-01 00:00:00.000000306,20017,Y,2015-10-15 00:00:00.000000000,17353.28,...,OFF HOURS (NA),ANTHRO - OFF HOURS (NA),LOUNGE (NA),59001933,COZY KNIT JOGGER,REG PRICE,1,44.96,DC,South
2,2,0102I4L0PINZB3,54,11,E,1970-01-01 00:00:00.000001129,23233,Y,2017-07-11 00:00:00.000000000,4481.17,...,ANTHRO. WOMEN'S DIVISION (NA),JACKETS (NA),OUTERWEAR - ANTHRO. (NA),69997476,UNREAL FUR KATHMANDU COAT,REG PRICE,1,179.97,VA,South
3,3,010QS307CAT5WJ,48,11,K,1970-01-01 00:00:00.000000204,23453,Y,2018-06-28 00:00:00.000000000,8312.67,...,APPAREL EXTENDED SIZES (NA),PETITES (NA),JEANS - PETITES (NA),58280181,OB HR FEMME DARTED SKINNY,MARKDOWN,1,128.00,VA,South
4,4,0101EN5Q3W4AE8,32,9,K,1970-01-01 00:00:00.000000000,94108,Y,2019-07-12 00:00:00.000000000,6528.04,...,APPAREL EXTENDED SIZES (NA),PETITES (NA),DRESSES - PETITES (NA),66952177,OB 1 SHLDR CHERRY PRNTD M,MARKDOWN,1,160.00,CA,West